
.addnew {
    padding: 23px 0 73px;
}
.addnew__nav {
    margin: 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.addnew__nav li:not(:last-child) {
    margin-right: 10px;
}
.addnew__nav li a {
    line-height: 22px;
    font-weight: 500;
    color: #5E6165;
    background: #FFFFFF;
    border: 1px solid #C3C7CB;
    -webkit-border-radius: 70px;
       -moz-border-radius: 70px;
            border-radius: 70px;
    padding: 13px 30px;
    display: inline-block;
}
.addnew__nav li a:hover {
    text-decoration: none;
    background: rgba(10, 113, 235, 0.1);
    border-color: #0752E4;
    color: #0752E4;
}
.addnew__wrap {
    max-width: 620px;
    margin: 0 auto;
    position: relative;
}
.addnew .title-l {
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
}
.addnew__item {
    margin-bottom: 40px;
}
.addnew__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 19px;
}
.addnew__types {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px;
}
.addnew__type-wrap {
    padding: 0 10px;
    width: 33.3%;
}
.addnew__type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 42px;
    width: 100%;
    background: #F1F3F4;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 2px solid #D8DEE0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.addnew__type svg {
    margin-bottom: 12px;
}
.addnew__type:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
       -moz-box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
            box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
    border-color: #0752E4;
}
.addnew__type path {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.addnew__type:hover path,
.addnew__type-wrap input:checked + label path {
    fill: #0752E4;
}
.addnew__type-wrap input {
    display: none;
}
.addnew__type-wrap input:checked + label {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
       -moz-box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
            box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
    border-color: #0752E4;
}
.addnew__map img {
    width: 100%;
    height: auto;
    display: block;
}
.addnew__map {
    margin-bottom: 20px;
    height: 320px;
}
.addnew__map img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.addnew__title-sec { 
    margin-bottom: 10px;
}
.dropZone {    
    background: #FFFFFF;
    border: 1px dashed #C3C7CB;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}



.dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
.dropZone.error {
    background: #faa;
    border-color: #f00;
}
.dropZone label {
    padding: 13px 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left bottom, left top, from(#0A71EB), to(#0A71EB)), -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), #0752E4;
    background: -webkit-linear-gradient(bottom, #0A71EB, #0A71EB), -webkit-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -moz-linear-gradient(bottom, #0A71EB, #0A71EB), -moz-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -o-linear-gradient(bottom, #0A71EB, #0A71EB), -o-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: linear-gradient(0deg, #0A71EB, #0A71EB), linear-gradient(0deg, #225FFB, #225FFB), #0752E4;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    line-height: 22px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.dropZone label svg {
    margin-right: 10px;
}
.dropZone > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
    margin-bottom: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.dropZone > span::before,
.dropZone > span::after {
    content: '';
    display: block;
    width: 88px;
    height: 1px;
    background: #D8DEE0;
}
.dropZone > span::before {
    margin-right: 15px;
}
.dropZone > span::after {
    margin-left: 15px;
}
.addnew__drop {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #777D82;
}
.profile__item > p {
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
    margin-bottom: 20px;
}
.profile__itemdf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.profile__itemdf .profile__title {
    margin-right: 20px;
    width: 193px;
}
.profile__itemdf .catalog__filter-tabs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.profile__itemdf .catalog__filter-tab:not(:last-child) {
    margin-right: 5px;
}
.profile__item-r {
    max-width: 407px;
}
.profile__item-r .filter__input-wrap input {
    width: 100px !important;
    padding: 10px 15px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.filter__input-wrap:not(:last-child) {
    border-right: 1px solid rgb(195, 199, 203);
}
.profile__item-r .filter__item-inputs {
    overflow: visible;
}
.profile__item-r .filter__input-wrap:first-child {
    -webkit-border-radius: 8px 0 0 8px;
       -moz-border-radius: 8px 0 0 8px;
            border-radius: 8px 0 0 8px;
}
.profile__item-r .filter__input-wrap:last-child {
    -webkit-border-radius: 0 8px 8px 0;
       -moz-border-radius: 0 8px 8px 0;
            border-radius: 0 8px 8px 0;
}
.profile__item-r .filter__input-wrap label {
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    bottom: -25px;
    left: 0;
    color: #3A3F44;
}
.profile__title-add {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
    padding-top: 20px;
}
.profile__title-add .profile__title {
    margin-bottom: 0;
}
.profile__title-add p,
.profile__item > p {
    font-size: 12px;
    line-height: 18px;
    color: #777D82;
}
.profile__item > p {
    margin-top: 5px;
}
.prof__textarea {
    height: 100px;
}
.profile__inputsflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.profile__num {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
    background: #FFFFFF;
    border: 1px solid #C3C7CB;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 10px;
    text-align: center;
    max-width: 60px;
}
.profile__inputsflex span {
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 0 10px;
    color: #3A3F44;
}
.profile__itemaifs {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.profile__title-r .filter__item-show{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.profile__title-r .filter__item-show .login__popup-inputwrap {
    width: 50%;
    padding: 0 10px 0;
}
.profile__title-r .catalog__filter-tabs:not(:last-child) {
    margin-bottom: 20px;
}
.profile__title-r .login__popup-inputwrap:not(:last-child) {
    margin-bottom: 10px;
}
.mt20 {
    margin-top: 20px;
}
.pttitle {
    padding-top: 11px;
}
.profile__title-r {
    max-width: 407px;
}
.input__main-numb {
    background: #FFFFFF;
    padding: 4px;
    max-width: 170px;
    width: 170px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid #C3C7CB;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.quantity-arrow {
    background: #F1F3F4;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
.quantity-arrow:hover {
    background: rgba(7, 82, 228, 0.1);
}
.profile__title-r .select2-container--default .select2-selection--single {
    background: #FFFFFF;
    border: 1px solid #C3C7CB !important;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 8px !important;
       -moz-border-radius: 8px !important;
            border-radius: 8px !important;
}
.profile__title-r .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 32px 0 20px !important;
    font-size: 14px;
    line-height: 20px;
}
.profile__title-r .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none !important;
}
.profile__title-r .select2-selection__arrow {
    background: url('../img/addarrow.png') center center no-repeat;
    width: 24px !important;
    right: 8px !important;
}
.input170 input {
    width: 170px;
    max-width: unset;
}
.profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.profile__btns .btn {
    background: -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), rgba(7, 82, 228, 0.1);
    background: -webkit-linear-gradient(bottom, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    background: -moz-linear-gradient(bottom, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    background: -o-linear-gradient(bottom, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    background: linear-gradient(0deg, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    width: 49%;
    padding: 13px;
    color: #fff;
}
.profile__btns .btn__sec {
    background: #E6EAED;
    color: #020E20;
}
.profile__btns .btn:hover {
    opacity: 0.8;
}

.circle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.circle__wrap {
    position: absolute;
    right: -208px;
    top: 80px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: rgba(7, 82, 228, 0.1);
    width: 75px;
    height: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.circle__wrap span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #0752E4;
}
circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-width: 5;
  stroke-dasharray: 220px 220px;
}
circle:nth-child(2n) {
  fill: rgba(0,0,0,0);
  stroke: #0752E4;
  stroke-width: 5;
}
.filter-tab-bordersec label {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 50% !important;
       -moz-border-radius: 50% !important;
            border-radius: 50% !important;
}
.input__main-numb input {
    background: #fff;
}
@media screen and (max-width: 1080px) {
    .addnew__nav li a {
        padding: 13px 25px;
    }
    .circle__wrap {
        right: -150px;
    }
}
@media screen and (max-width: 993px) {
    .addnew__nav,
    .circle__wrap {
        display: none;
    }
}
/* 351-576px */
@media screen and (max-width: 576px) {
    .addnew__types {
        margin: 0 -15px 0 -15px;
    }
    .addnew__type-wrap {
        width: 170px !important;
    }
    .addnew__type-wrap label {
        padding: 25px;
        width: 150px;
    }
    .addnew__types {
        overflow-x: scroll;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }
    .addnew__types::-webkit-scrollbar {
        height: 0;
      }
      .addnew .title-l {
        margin-bottom: 30px;
        text-align: left;
        font-size: 24px;
        line-height: 30px;
    }
    .profile__itemdf {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .profile__itemdf .catalog__filter-tabs {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .profile__itemdf .catalog__filter-tab:not(:last-child) {
        margin-bottom: 5px;
    }
    .profile__title-r .filter-tab-border:not(:last-child) {
        margin-bottom: 0 !important;
    }
    .profile__title-r .filter__item-show .login__popup-inputwrap {
        width: 100%;
    }
    .profile__btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .profile__btns .btn {
        width: 100%;
    }
    .profile__btns .btn:not(:last-child) {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 374px) {
    .addnew .title-l {
        font-size: 20px;
        line-height: 28px;
    }
    .dropZone label {
        padding: 13px 20px;
    }
    .dropZone {
        padding: 40px 22px;
    }
}