.blog__main {
    padding: 65px 0;
    
}
.container-blog {
    width: 834px;
}
.blog__art {
    padding: 15px 0 20px;
}
.blog__art .title-l {
    margin-bottom: 30px;
}
.blog__art-wrap {
    max-width: 727px;
}
.blog__art-left {
    width: 66%;
}
.blog__art-right {
    width: 24%;
}
.popular__card-wrap {
    width: 100%;
}
.blog__art-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
    color: #021A3E;
}
.popular__txt {
    margin-bottom: 10px;
}
.blog__popular-btn {
    background: none;
    padding: 0;
    color: #0752E4;
    border: none;
}
.blog__art-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.review__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.review__date {
    font-size: 12px;
    line-height: 18px;
}
.blog__art-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blog__art-links span {
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    color: #3A3F44;
}
.blog__art-link {
    display: block;
}
.blog__art-link:not(:last-child) {
    margin-right: 10px;
}
.blog__art-link:hover {
    opacity: 0.8;
}
.blog__art-txt {
    margin-bottom: 20px;
}
.blog__art-txt p {
    line-height: 22px;
}
.blog__art-txt p:not(:last-child) {
    margin-bottom: 30px;
}
.blog__art-txt blockquote {
    padding-left: 34px;
    margin: 30px 0;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    width: 80%;
}
.blog__art-txt blockquote::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#0A71EB), to(#0A71EB)), -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), #0752E4;
    background: -webkit-linear-gradient(bottom, #0A71EB, #0A71EB), -webkit-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -moz-linear-gradient(bottom, #0A71EB, #0A71EB), -moz-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -o-linear-gradient(bottom, #0A71EB, #0A71EB), -o-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: linear-gradient(0deg, #0A71EB, #0A71EB), linear-gradient(0deg, #225FFB, #225FFB), #0752E4;
}
.blog__art-img {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
.blog__art-img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

.blog__art-rate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blog__art-rate > span {
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
    display: block;
}
.blog__art-inp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blog__art-foto {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.blog__art-foto img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.blog__art-inpwrap {
    padding: 5px 0;
    position: relative;
}
.blog__art-inputs {
    margin: -5px 0; 
}
.blog__art-input {
    display: block;
    background: #fff;
    padding: 14px 20px;
    border: 1px solid #D8DEE0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #5E6165;
    width: 100%;
}
.blog__art-input::-webkit-input-placeholder {
    color: #5E6165;
    font-family: Cera Pro;
}
.blog__art-input:-moz-placeholder {
    color: #5E6165;
    font-family: Cera Pro;
}
.blog__art-input::-moz-placeholder {
    color: #5E6165;
    font-family: Cera Pro;
}
.blog__art-input:-ms-input-placeholder {
    color: #5E6165;
    font-family: Cera Pro;
}
.blog__art-input::-ms-input-placeholder {
    color: #5E6165;
    font-family: Cera Pro;
}
.blog__art-input::placeholder {
    color: #5E6165;
    font-family: Cera Pro;
}
.blog__art-textarea {
    height: 140px;
    padding-bottom: 65px;
}
.blog__comment-btn {
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), rgba(7, 82, 228, 0.1);
    background: -webkit-linear-gradient(bottom, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    background: -moz-linear-gradient(bottom, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    background: -o-linear-gradient(bottom, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    background: linear-gradient(0deg, #225FFB, #225FFB), rgba(7, 82, 228, 0.1);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 20px;
    bottom: 15px;
    font-family: Cera Pro;
}
.blog__comment-btn:hover {
    opacity: 0.8;
}
.blog__news {
    padding: 20px 0 60px;
}
.blog__news .title-m {
    margin-bottom: 20px;
}
.blog__news-wrap {
    margin: -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.blog__news-cardwrap {
    width: 25%;
    padding: 10px;
}
.blog__news-card {
    display: block;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid #D8DEE0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 8px rgba(44, 57, 78, 0.05);
       -moz-box-shadow: 0px 2px 8px rgba(44, 57, 78, 0.05);
            box-shadow: 0px 2px 8px rgba(44, 57, 78, 0.05);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.blog__news-img {
    display: block;
    height: 180px;
    position: relative;
}
.blog__news-img img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}
.blog__news-img .blog__page-meta {
    position: absolute;
    bottom: 13px;
    left: 20px;
    z-index: 2;
    margin-bottom: 0;
}
.blog__news-img:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(7.68%, rgba(17, 30, 56, 0.0001)), to(#111E38));
    background: -webkit-linear-gradient(top, rgba(17, 30, 56, 0.0001) 7.68%, #111E38 100%);
    background: -moz-linear-gradient(top, rgba(17, 30, 56, 0.0001) 7.68%, #111E38 100%);
    background: -o-linear-gradient(top, rgba(17, 30, 56, 0.0001) 7.68%, #111E38 100%);
    background: linear-gradient(180deg, rgba(17, 30, 56, 0.0001) 7.68%, #111E38 100%);
    opacity: 0.8;
}
.blog__news-txt {
    padding: 20px;
}
.blog__news-title {
    display: block;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 44px;  
    font-size: 15.5px;
}
.blog__news-txt p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #3A3F44;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    height: 80px;  
}
.rate__stars {
	background: url('../img/stars.png') no-repeat 0 0 / cover;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	cursor: pointer;
    width: 104px;
    height: 16px;
}
#rating>div>span {
	display: block;
	width: 100%;
	height: 100%;
	background: #D8DEE0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1
}
.progress {
	position: absolute;
	z-index: 2;
	background: #FF9431;
    width: 104px;
    height: 16px;
	cursor: pointer
}
#rating div {
	float: left
}
#rating>div {
	position: relative;
    width: 104px;
    height: 16px;
}
@media screen and (max-width: 1280px) {
    .blog__news-cardwrap {
        padding: 5px;
    }
    .blog__news-wrap {
        margin: -5px;
    }
}
@media screen and (max-width: 1080px) {
    .blog__news-img .blog__page-meta {
        left: 10px;
    }
    .blog__page-date {
        margin-right: 7px;
    }
}
/* 769-993px */
@media screen and (max-width: 993px) {
    .breadcrumbs {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .blog__news-card {
        width: 300px;
    }
    .blog__news-wrap {
        margin-right: -15px;
    }
    .blog__news-img .blog__page-meta {
        left: 20px;
    }
    .blog__page-date {
        margin-right: 13px;
    }
}

/* 351-576px */
@media screen and (max-width: 576px) {
    .breadcrumbs__current, .breadcrumbs__link {
        white-space: normal !important;
    }
    .blog__art {
        padding: 0 0 20px;
    }
    .blog__art .title-l {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
    }
    .blog__art-author {
        margin-bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .blog__art-links {
        margin-top: 20px;
    }
    .blog__art-txt p:not(:last-child) {
        margin-bottom: 20px;
    }
    .blog__art-txt blockquote {
        padding-left: 24px;
        margin: 20px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .blog__art-img {
        height: 280px;
    }
    .blog__news {
        padding: 20px 0 40px;
    }
}
@media screen and (max-width: 374px) {
    .blog__art-img {
        height: 240px;
    }
    .blog__news .title-m {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .blog__news-card {
        width: 280px;
    }
}