.main__inner {
    padding: 50px 0 0;
    background: url('../img/main-in-bg.png') no-repeat 0 0 / cover;
    position: relative;
    margin-bottom: 30px;
}
.main__inner::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: #0E1E48;
    z-index: 1;
}
.main__inner .title {
    margin-bottom: 10px;
}
.main__inner p {
    margin-bottom: 0;
}
.main__inner .main__wrap {
    position: absolute;
    z-index: 5;
    min-width: 958px;
    right: 0;
    bottom: -30px;
    left: 0;
    margin: 0 auto;
}
.main__inner .container {
    position: relative;
    z-index: 2;
    padding-bottom: 74px;
}
.catalog {
    padding-bottom: 60px;
}
.catalog__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog__left {
    width: 21%;
    min-width: 260px;
    padding-top: 14px;
}
.catalog__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    color: #021A3E;
}
.catalog__filter-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.filter-border {
    border: 1px solid #D8DEE0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    padding: 5px 4px;
}
.catalog__filter-tab input {
    display: none;
}
.catalog__filter-tab label {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    color: #3A3F44;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.catalog__filter-tab label:hover,
.catalog__filter-tab input:checked + label {
    background: -webkit-gradient(linear, left bottom, left top, from(#0A71EB), to(#0A71EB)), -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), #0752E4;
    background: -webkit-linear-gradient(bottom, #0A71EB, #0A71EB), -webkit-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -moz-linear-gradient(bottom, #0A71EB, #0A71EB), -moz-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -o-linear-gradient(bottom, #0A71EB, #0A71EB), -o-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: linear-gradient(0deg, #0A71EB, #0A71EB), linear-gradient(0deg, #225FFB, #225FFB), #0752E4;
    color: #fff;
}
.filter__item {
    margin-bottom: 20px;
}
.filter__item-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.filter-tab-border label {
    border: 1px solid #D8DEE0;
}
.filter-tab-border:not(:first-child) label {    
    display: -webkit-box;    
    display: -webkit-flex;    
    display: -moz-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.time-container .select2-results__option {
    font-size: 12px !important;
}
.select2-container--open .select2-dropdown.time-container {
    top: 0 !important;
}
.filter__item-title .select2-container .select2-selection--single, 
.filter__item-title .select2-container--default .select2-selection--single .select2-selection__arrow,
.filter__item-title .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 20px !important;
}
.filter__item-title .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px !important;
}
.filter__item-title .select2-selection__arrow {
    background: url(../img/arrow-sel.png) no-repeat center center / 30% !important;
}
.filter__item-inputs {
    background: #FFFFFF;
    border: 1px solid #C3C7CB;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    overflow: hidden;
}
.filter__item-inputs:not(:last-child) {
    margin-bottom: 10px;
}
.filter__input-wrap:first-child {
    border-right: 1px solid #C3C7CB;
}
.filter__input-wrap {
    position: relative;
    width: 50%;
}
.filter__input-wrap input {
    display: block;
    width: 100%;
    padding: 10px 35px;
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
}
.filter__input-wrap input::-webkit-input-placeholder {
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.filter__input-wrap input:-moz-placeholder {
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.filter__input-wrap input::-moz-placeholder {
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.filter__input-wrap input:-ms-input-placeholder {
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.filter__input-wrap input::-ms-input-placeholder {
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.filter__input-wrap input::placeholder {
    font-family: Cera Pro;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.filter__input-wrap::before {
    display: block;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
    top: 0;
    bottom: 0;
    left: 10px;
    height: 20px;
    margin: auto 0;
}
.filter__input-wrap:first-child::before {
    content: 'от';
}
.filter__input-wrap:last-child::before {
    content: 'до';
}
.filter__item-show {
    overflow: hidden;
}
.filter__item-show-btn {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #0752E4;
}
.filter__item-show-btn svg {
    margin-left: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.filter__item-show-btn.open {
    margin-top: 16px;
}
.filter__item-show-btn.open svg {
    -webkit-transform: rotateZ(180deg);
       -moz-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}
.meters::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 14px;
    height: 12px;
    margin: auto 0;
    background: url('../img/m2.png') no-repeat 0 0 / cover;
}
.filter__item-wrap {
    margin-bottom: 20px;
    border-bottom: 1px solid #E6EAED;
}
.filter__item .login__popup-inputwrap {
    margin-bottom: 10px;
}
.filter__item-title-l {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}
.filter-where label {
    padding: 10px 6px;
}
.filter-where {
    background: #F8FAFD;
    margin-bottom: 20px;
}
.catalog__selected {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F1F3F4;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    padding: 8px 15px;
}
.catalog__selected span {
    display: block;
}
.selected__delete {
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.catalog__selected:not(:last-child) {
    margin-bottom: 10px;
}
.catalog__selected-wrap {
    margin-bottom: 20px;
}
.flex-w {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.sanuzel label {
    padding: 10px 20px;
    background: #E6EAED;
}
.sanuzel .catalog__filter-tab {
    margin-bottom: 10px;
}
.sanuzel {
    width: 95%;
    margin-bottom: -10px;
}
.ui-widget.ui-widget-content {
    border: none !important;
    background: #ECF0F3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    height: 2px;
    margin-top: 59px;
    position: relative;
}
.ui-widget-content::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 176px;
    height: 39px;
    background: url('../img/rangers.png') no-repeat 0 0 / cover;
}
.ui-slider-horizontal .ui-slider-range {
    background: -webkit-gradient(linear, left bottom, left top, from(#0A71EB), to(#0A71EB)), -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), #0752E4;
    background: -webkit-linear-gradient(bottom, #0A71EB, #0A71EB), -webkit-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -moz-linear-gradient(bottom, #0A71EB, #0A71EB), -moz-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -o-linear-gradient(bottom, #0A71EB, #0A71EB), -o-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: linear-gradient(0deg, #0A71EB, #0A71EB), linear-gradient(0deg, #225FFB, #225FFB), #0752E4;
}
.ui-slider-horizontal .ui-slider-handle {
    border: 3px solid #0752E4 !important;
    background: #fff !important;
    height: 20px !important;
    width: 20px !important;
    top: -.55em !important;
    position: relative;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.range-label {
    width: 70px;
    height: 53px;
    position: absolute;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    top: -48px;
    left: -27px;
    padding-top: 12px;
    background: url('../img/svg/label-range.svg') no-repeat 0 0 / cover;
}
.ui-state-default {
    color: #020E20 !important;
    cursor: pointer !important;
}
.ui-state-focus {
    outline: none !important;
}

.filter__checkbox-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -5px;
}
.filter__checkbox-wrap:not(:last-child) {
    margin-bottom: 20px;
}
.filter__checkbox {
    padding: 5px;
}
.filter__checkbox input {
    display: none;
}
.filter__checkbox label {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F1F3F4;
    cursor: pointer;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}
.filter__checkbox input:checked + label,
.filter__checkbox label:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(34, 95, 251, 0.15)), to(rgba(34, 95, 251, 0.15)));
    background: -webkit-linear-gradient(bottom, rgba(34, 95, 251, 0.15), rgba(34, 95, 251, 0.15));
    background: -moz-linear-gradient(bottom, rgba(34, 95, 251, 0.15), rgba(34, 95, 251, 0.15));
    background: -o-linear-gradient(bottom, rgba(34, 95, 251, 0.15), rgba(34, 95, 251, 0.15));
    background: linear-gradient(0deg, rgba(34, 95, 251, 0.15), rgba(34, 95, 251, 0.15));
    color: #0752E4;
}
.filter__checkbox label span {
    height: 16px;
    margin-left: 10px;
    display: none;
}
.filter__checkbox input:checked + label span {
    display: block;
}
.filter__pay {
    border-bottom: none;
}
.filter__btn-sec {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    padding: 12px 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #5E6165;
    border: 1px solid #C3C7CB;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.filter__btn-sec:hover,
.filter__btn:hover {
    text-decoration: none;
    opacity: 0.8;
}
.filter__btn-sec .round {
    margin-right: 10px;
}
.catalog__right {
    width: 77%;
}
.catalog__tabs-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.catalog__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.catalog__tab svg {
    margin-right: 10px;
}
.catalog__tab:hover {
    text-decoration: none;
}
.catalog__tab.active {
    background: rgba(7, 82, 228, 0.1);
    color: #0752E4;
}
.catalog__tab.active path {
    stroke: #0752E4;
}
.catalog__cards-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -10px -10px 30px;
}
.catalog__card-wrap {
    padding: 10px;
    width: 33.33%;
}
.catalog__card {
    background: #FFFFFF;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #E6EAED;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
       -moz-box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
            box-shadow: 0px 5px 20px rgba(44, 57, 78, 0.1);
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.catalog__card-img {
    position: relative;
    height: 230px;
}
.catalog__card-img > span {
    position: absolute;
    z-index: 5;
}
.catalog__card-imglink {
    display: block;
}
.catalog__card-imglink {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}
.catalog__card-super,
.catalog__card-video {
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 46px;
       -moz-border-radius: 46px;
            border-radius: 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 18px;
    top: 15px;
    padding: 1px 10px 1px 5px;
}
.catalog__card-super svg,
.catalog__card-video svg {
    margin-right: 5px;
}
.catalog__card-super {
    left: 10px;
}
.catalog__card-video {
    left: 131px;
}
.catalog__card-like.active path {
    fill: #fff;
}
.catalog__card-like {
    background: rgba(2, 14, 32, 0.5);
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    top: 15px;
    right: 10px;
    cursor: pointer;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.catalog__card-rate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 20px;
    bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.catalog__card-rate svg {
    margin-right: 5px;
}
.catalog__card-img .slick-dots {
    bottom: 23px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.catalog__card-img .slick-dots li {
    background: #FFFFFF !important;
    opacity: 0.5 !important;
    width: 6px !important;
    height: 6px !important;
    -webkit-border-radius: 50% !important;
       -moz-border-radius: 50% !important;
            border-radius: 50% !important;
}
.catalog__card-img .slick-dots li button {
    display: none;
}
.catalog__card-img .slick-dots li.slick-active {
    opacity: 1 !important;
    width: 8px !important;
    height: 8px !important;
}
.catalog__card-txt {
    padding: 5px 20px 10px;
}
.catalog__card-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog__card-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.catalog__card-rooms,
.catalog__card-peop {
    font-size: 14px;
    line-height: 20px;
    color: #3A3F44;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.catalog__card-rooms svg,
.catalog__card-peop svg {
    margin-right: 5px;
}
.catalog__card-peop sup {
    font-size: 10px;
}
.catalog__card-mid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog__card-mid a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.catalog__card-mid a svg {
    margin-right: 5px;
}
.catalog__card-marsh {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #5E6165;
}
.catalog__card-marsh > svg {
    margin-right: 5px;
}
.catalog__card-metro {
    margin-right: 5px;
}
.catalog__card-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.catalog__card-time svg {
    margin-right: 5px;
}
.catalog__card-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.catalog__card-bottom {
    position: relative;
}
.catalog__card-contacts {
    background: #0752E4;
    padding: 9px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.catalog__card-phone {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 10px;
}
.catalog__card-socwrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.catalog__card-socitem {
    display: block;
    height: 16px;
}
.catalog__card-socitem:not(:last-child) {
    margin-right: 15px;
}
.catalog__card-socitem:hover {
    opacity: 0.8;
}

.catalog__card-hide {
    width: 100%;
    padding: 9px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: #BEDBFC;
    color: #0752E4;
    line-height: 22px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.catalog__card .slick-arrow::before {
    display: none !important;
}
.catalog__card .slick-arrow {
    display: none !important;
    width: 8px !important;
    height: 12px !important;
    z-index: 8 !important;
}
.catalog__card .slick-arrow:hover {
    opacity: 0.8 !important;
}
.catalog__card .slick-prev,
.catalog__card .slick-prev:focus,
.catalog__card .slick-prev:active,
.catalog__card .slick-prev:hover {
    left: 25px !important;
    background: url('../img/cat-arr-l.png') no-repeat 0 0 / cover;
}
.catalog__card .slick-next,
.catalog__card .slick-next:focus,
.catalog__card .slick-next:active,
.catalog__card .slick-next:hover {
    right: 25px !important;
    background: url('../img/cat-arr-r.png') no-repeat 0 0 / cover;
}
.catalog__card:hover .slick-arrow {
    display: block !important;
}
.catalog__card:hover {
    -webkit-box-shadow: 0px 10px 30px rgba(44, 57, 78, 0.2);
       -moz-box-shadow: 0px 10px 30px rgba(44, 57, 78, 0.2);
            box-shadow: 0px 10px 30px rgba(44, 57, 78, 0.2);
}
.catalog__pagination {
    position: relative;
}
.catalog__pag-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #5E6165;
}
.catalog__text {
    margin-bottom: 60px;
}
.catalog__text p:not(:last-child) {
    margin-bottom: 22px;
}
.catalog__text p {
    font-size: 14px;
    line-height: 20px;
}
.catalog__text p strong {
    color: #041C3F;
    font-size: 16px;
    line-height: 22px;
    display: block;
}
.catalog__text ul:not(:last-child),
.catalog__text ol:not(:last-child) {
    margin-bottom: 22px;
}
.catalog__text ul,
.catalog__text ol {
    padding-left: 25px;
}
.catalog__text ul li,
.catalog__text ol li {
    display: list-item;
    font-size: 14px;
    line-height: 20px;
}
.catalog__pop {
    background: #FFFFFF;
    padding: 30px 40px;
    border: 1px solid #E6EAED;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.catalog__pop-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.catalog__pop ul {
    margin-bottom: -10px;
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
}
.catalog__pop ul li {
    padding-bottom: 10px;
}
.catalog__pop ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #020E20;
}
.catalog__pop ul li a:hover {
    text-decoration: none;
    color: #0752E4;
}
.filter__where {
    width: 620px;
    display: none;
    position: relative;
    background: #FFFFFF;
    padding: 0 !important;
    border: 1px solid #E6EAED;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.filter__where-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    border-bottom: 1px solid #D8DEE0;
}
.filter__where-top .filter__item-title {
    margin: 0 21px 0 0;
}
.filter__where-top .filter-where {
    margin-bottom: 0;
    padding: 5px 6px;
}
.filter__where-top .filter-where label {
    padding: 10px 13px;
}
.filter__where-mid {
    padding: 2px 45px 2px 20px;
    max-height: 428px;
    overflow: hidden;
    overflow-y: scroll;
}
.filter__pophelp {
    padding: 16px 10px 16px 0;
    border-bottom: 1px solid #D8DEE0;
}
.filter__pophelp .login__popup-inputwrap:last-child {
    margin-bottom: 0;
}
.filter__where-search {
    position: relative;
}
.filter__where-search input {
    background: #FFFFFF;
    border: 1px solid #C3C7CB;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
            font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
    display: block;
    width: 100%;
    padding: 10px 40px 10px 20px;
}
.filter__where-search input::-webkit-input-placeholder {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
}
.filter__where-search input:-moz-placeholder {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
}
.filter__where-search input::-moz-placeholder {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
}
.filter__where-search input:-ms-input-placeholder {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
}
.filter__where-search input::-ms-input-placeholder {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
}
.filter__where-search input::placeholder {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777D82;
}
.filter__where-search:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto 0;
    width: 24px;
    height: 24px;
    background: url('../img/svg/search.svg') no-repeat 0 0 / cover;
}
.filter__where-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
}
.filter__where-btn {
    color: #FFFFFF;
    line-height: 22px;
    padding: 9px 0;
    text-align: center;
    width: 180px;
    margin-right: 10px;
    background: #EE8235;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.filter__where-btnsec {
    background: #E6EAED;
    margin-right: 0;
    color: #3A3F44;
}
.filter__where-btn:hover {
    text-decoration: none;
    opacity: 0.8;
}
/* 993-1200px */
@media screen and (max-width: 1280px) {
	.catalog__right {
        width: 73%;
        margin-left: 10px;
    }
    .catalog__card-wrap {
        padding: 5px;
    }
    .catalog__cards-wrap {
        margin: -5px -5px 30px;
    }
    .catalog__card-video {
        left: 10px;
        top: 42px;
    }
    .catalog__card-txt {
        padding: 5px 10px 10px;
    }
    .catalog__card-rate {
        left: 10px;
    }

}
@media screen and (max-width: 1080px) {
    .catalog__card-link,
    .catalog__card-mid a {
        font-size: 13px;
    }
    .catalog__card-rooms, .catalog__card-peop {
        font-size: 12px;
    }
    .pagination {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}
/* 769-993px */
@media screen and (max-width: 993px) {
    .main__inner .title,
    .main__inner p,
    .main__inner::before,
    .main__inner .container,
    .header__city::before {
        display: none;
    }
    .header__city {
        display: block !important;
    }
    .main__inner {
        padding: 0;
        background: none;
    }
    .main__inner {
        padding: 8px 15px 10px;
        background: #F1F3F4;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 10px;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .catalog__tabs-top {
        margin-bottom: 0;
    }
    .header__city .select2-container--default .select2-selection--single {
        background: none !important;
        height: 22px !important;
    }
    .header__city .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0 !important;
        line-height: 22px !important;
        padding-right: 25px !important;
    }
    .header__city .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 0 !important;
        height: 22px !important;
    }
    .catalog__tab,
    .catalog__tab.active {
        background: #FFFFFF;
        -webkit-box-shadow: 0px 2px 5px rgba(44, 57, 78, 0.1);
           -moz-box-shadow: 0px 2px 5px rgba(44, 57, 78, 0.1);
                box-shadow: 0px 2px 5px rgba(44, 57, 78, 0.1);
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
        padding: 8px 10px;
        color: #3A3F44;
    }
    .catalog__tab.active path {
        stroke: #3A3F44;
    }
    .catalog__tab:first-child {
        margin-right: 5px;
    }
    .catalog__tab svg {
        width: 16px;
        height: 16px;
    }
    .catalog__left {
        position: absolute;
        top: 0;
        width: 375px;
        max-width: 100%;
        z-index: 11;
        background: #fff;
        right: -100%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .catalog__left.open {
        right: 0;
    }
    .filter-mob {
        margin-bottom: 15px;
    }
    .filter-mob ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .wrap {
        position: relative;
    }
    .filter-mob ul li a {
        padding: 7px 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 2px 10px rgba(61, 62, 55, 0.2);
           -moz-box-shadow: 0px 2px 10px rgba(61, 62, 55, 0.2);
                box-shadow: 0px 2px 10px rgba(61, 62, 55, 0.2);
        -webkit-border-radius: 48px;
           -moz-border-radius: 48px;
                border-radius: 48px;
    }
    .filter-mob ul li a svg {
        margin-left: 10px;
    }
    .filter-mob ul li a:hover {
        text-decoration: none;
    }
    .filter-mob ul li:not(:last-child) {
        margin-right: 10px;
    }
    .filter-mob ul li:first-child a {
        color: #0752E4;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(10, 113, 235, 0.15)), to(rgba(10, 113, 235, 0.15)));
        background: -webkit-linear-gradient(bottom, rgba(10, 113, 235, 0.15), rgba(10, 113, 235, 0.15));
        background: -moz-linear-gradient(bottom, rgba(10, 113, 235, 0.15), rgba(10, 113, 235, 0.15));
        background: -o-linear-gradient(bottom, rgba(10, 113, 235, 0.15), rgba(10, 113, 235, 0.15));
        background: linear-gradient(0deg, rgba(10, 113, 235, 0.15), rgba(10, 113, 235, 0.15));
    }
    .catalog__right {
        width: 100%;
    }
}

/* 577-768px */
@media screen and (max-width: 768px) {

}


/* 351-576px */
@media screen and (max-width: 576px) {


}
@media screen and (max-width: 350px) {

}