/* ----popular---- */

.popular {
	padding: 80px 0;
	background: #fff;
}
.popular .title-l {
	margin-bottom: 40px;
}


/* ----hands---- */

.hands {
	padding: 80px 0;
	background: #F7F9FC;
}
.hands__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.hands .title-l {
	margin-bottom: 5px;
}
.hands__left p {
	font-size: 18px;
	line-height: 26px;
	color: #5E6165;
	max-width: 600px;
}
.btn-see {
	background: #FFFFFF;
	padding: 10px 25px;
	border: 1px solid #E6EAED;
	-webkit-border-radius: 46px;
	   -moz-border-radius: 46px;
	        border-radius: 46px;
	font-size: 14px;
	line-height: 20px;
	color: #3A3F44;
}
.btn-see:hover {
	text-decoration: none;
}
.hands__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: -10px;
}
.hands__card-wrap {
	width: 25%;
	padding: 10px;
}
.hands__card {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 8px rgba(44, 57, 78, 0.05);
	   -moz-box-shadow: 0px 2px 8px rgba(44, 57, 78, 0.05);
	        box-shadow: 0px 2px 8px rgba(44, 57, 78, 0.05);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hands__card:hover {
	-webkit-box-shadow: 0px 20px 40px rgba(44, 57, 78, 0.08);
	   -moz-box-shadow: 0px 20px 40px rgba(44, 57, 78, 0.08);
	        box-shadow: 0px 20px 40px rgba(44, 57, 78, 0.08);
	-webkit-transform: translateY(-10px);
	   -moz-transform: translateY(-10px);
	    -ms-transform: translateY(-10px);
	     -o-transform: translateY(-10px);
	        transform: translateY(-10px);
}
.hands__img {
	height: 200px;
	overflow: hidden;
}
.hands__img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.hands__txt {
	padding: 20px;
}
.hands__title {
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 15px;
	overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 44px;
}


/* ----review----- */

.review {
	padding: 80px 0 77px;
}
.reviews__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.slider-arrows {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.slider-arrow {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	border: 1px solid #D8DEE0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.slider-arrow path {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.slider-arrow-prev {
	margin-right: 20px;
}
.slider-arrow:hover {
	background: #0752E4;
}
.slider-arrow:hover path {
	stroke: #fff;
}

.rewievs__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: -20px -15px;
}
.rewievs__card-wrap {
	padding: 20px 15px;
	width: 33.3%;
}
.rewievs__wrap .slick-list,
.rewievs__wrap .slick-track {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.rewievs__wrap .slick-slide > div,
.rewievs__card-wrap,
.rewievs__card {
	height: 100%;
}
.rewievs__card {
	background: #F8FAFD;
	padding: 30px 40px 32px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 1px solid #E6EAED;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.rewievs__card:hover {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 15px 20px rgba(44, 57, 78, 0.08);
	   -moz-box-shadow: 0px 15px 20px rgba(44, 57, 78, 0.08);
	        box-shadow: 0px 15px 20px rgba(44, 57, 78, 0.08);
}
.rewievs__card p {
	line-height: 22px;
	min-height: 132px;
	margin-bottom: 15px;
}
.review__bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.rewievs__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 10px;
}
.review__right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 22px;
	color: #021A3E;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.review__right svg {
	margin-right: 7.5px;
}


/* ----service--- */

.service {
	padding: 80px 0;
	background: #F7F9FC;
}
.service .title-l {
	margin-bottom: 20px;
}
.service__txt {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 40px;
}
.service__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: -10px;
}
.service__card-wrap {
	width: 25%;
	padding: 10px;
}
.service__card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #FFFFFF;
	border: 1px solid #F1F3F4;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	padding: 50px 40px;
}
.service__img {
	width: 72px;
	height: 72px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: rgba(7, 82, 228, 0.1);
	margin-bottom: 20px;
}
.service__card p {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #0A2E57;
}

/* ---prizyv--- */

.prizyv {
	padding: 80px 0;
}
.prizyv__card {
	overflow: hidden;
	position: relative;
	background: url('../img/prizyv-bg.png') no-repeat 0 0 / cover;
	padding: 80px 60px 78px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.prizyv__card::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(46.88%, rgba(2, 26, 62, 0.5)), to(#021A3E));
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(2, 26, 62, 0.5) 46.88%, #021A3E 100%);
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(2, 26, 62, 0.5) 46.88%, #021A3E 100%);
	background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(2, 26, 62, 0.5) 46.88%, #021A3E 100%);
	background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(2, 26, 62, 0.5) 46.88%, #021A3E 100%);
	opacity: 0.8;
	z-index: 1;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.prizyv__left {
	position: relative;
	z-index: 3;
}
.prizyv__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.prizyv__txt {
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	margin-bottom: 40px;
}
.prizyv__btn {
	display: inline-block;
	background: #FFFFFF;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	        border-radius: 50px;
	padding: 13px 40px;
	line-height: 22px;
	color: #0752E4;
}
.prizyv__btn:hover {
	text-decoration: none;
}
/* 993-1200px */
@media screen and (max-width: 1200px) {
	
  }
   
  /* 769-993px */
  @media screen and (max-width: 993px) {
  
  }
  
  /* 577-768px */
  @media screen and (max-width: 768px) {
	
  }
  
  
  /* 320-576px */
  @media screen and (max-width: 576px) {
	
  }