.flats {
    padding: 23px 0 141px;
}

.flats .title-m {
    margin-bottom: 20px;
}
.flats__filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;

}
.flats__filter {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F1F3F4;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    padding: 6px 10px 6px 15px;
    font-size: 14px;
    line-height: 20px;
}
.flats__filter:not(:last-child) {
    margin-right: 20px;
}
.flats__filter span {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #0752E4;
    background: #FFFFFF;
    -webkit-border-radius: 36px;
       -moz-border-radius: 36px;
            border-radius: 36px;
    padding: 1px 6px;
    margin-left: 10px;
}
.flats__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #D8DEE0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    overflow: hidden;
}
.flats__item:not(:last-child) {
    margin-bottom: 20px;
}
.flats__item .catalog__card-img {
    max-width: 300px;
    height: 190px;
}
.flats__item .catalog__card-slider {
    height: 100%;
}
.flats__descr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 74%;
    padding: 20px 20px 20px 0;
}
.flats__descr-l {
    max-width: 260px;
}
.flats__descr-ltop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog__card-rate {
    color: #020E20;
}
.catalog__card-marsh {
    margin-bottom: 17px;
}
.flats__descr-c {
    max-width: 250px;
}
.flat__descr-ctop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flats__spec {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.flats__title-sm {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.flats__descr-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flats__btn {
    background: #F1F3F4;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #0752E4;
}
.flats__btn:hover {
    opacity: 0.8;
    text-decoration: none;
}
.flats__check {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #3A3F44;
    position: relative;
    display: inline-block;
}
.flats__check::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -25px;
    width: 20px;
    height: 20px;
    background: url('../img/check.png') no-repeat 0 0 / cover;
}