.flats {
    padding: 23px 0 38px;
}

.flats .title-m {
    margin-bottom: 20px;
}
.flats__filters {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}
.flats__sale {
    margin-bottom: 20px;
    padding: 15px 30px;
    position: relative;
    background: rgba(6, 51, 138, 0.05);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.flats__sale::after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    background: #06338A;
    opacity: 0.5;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.flats__sale ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -10px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.flats__sale ul li {
    width: 50%;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 10px;
    color: #06338A;
}
.flats__sale ul li strong {
    font-weight: 700;
}
.flats__sale ul li:nth-child(2n-1) {
    padding-right: 61px;
}
.flats__sale ul li:nth-child(2n-2) {
    padding-left: 61px;
}
.flats__sale-txt {
    padding-left: 30px;
    line-height: 22px;
    color: #5E6165;
}
.flats__sale-txt strong {
    font-weight: 400;
    color: #F53E3E;
}
.flats__filter {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F1F3F4;
    color: #020E20;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    padding: 6px 10px 6px 15px;
    font-size: 14px;
    line-height: 20px;
}
.flats__filter:not(:last-child) {
    margin-right: 20px;
}
.flats__filter span {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #0752E4;
    background: #FFFFFF;
    -webkit-border-radius: 36px;
       -moz-border-radius: 36px;
            border-radius: 36px;
    padding: 1px 6px;
    margin-left: 10px;
}
.flats__item {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #D8DEE0;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    overflow: hidden;
}
.flats__item-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}
.catalog__card-imglink {
    max-height: 190px;
}
.flats__item:not(:last-child) {
    margin-bottom: 20px;
}
.flats__item .catalog__card-img {
    max-width: 250px;
    height: 190px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    overflow: hidden;
}
.flats__item .catalog__card-slider {
    height: 100%;
}
.flats__descr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 77%;
}
.flats__descr-l {
    max-width: 260px;
}
.flats__descr-ltop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog__card-rate {
    color: #020E20;
}
.catalog__card-marsh {
    margin-bottom: 17px;
}
.flats__descr-c {
    max-width: 450px;
}
.flat__descr-ctop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flat__descr-ctop>div:not(:last-child) {
    margin-right: 23px;
}
.flats__spec {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.flats__title-sm {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.flats__descr-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 54px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flats__btn {
    background: #F1F3F4;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #0752E4;
}
.flats__btn:hover {
    opacity: 0.8;
    text-decoration: none;
}
.flats__check {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #3A3F44;
    position: relative;
    display: inline-block;
}
.flats__check::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -25px;
    width: 20px;
    height: 20px;
    background: url('../img/check.png') no-repeat 0 0 / cover;
}
.flats__select-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.flats__select-item:nth-child(1) {
    margin-right: 20px;
}
.catalog__card-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.flat__item-botitem .flats__select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
}
.flat__item-botitem .flats__select .select2-container .select2-selection--single,
.flat__item-botitem .flats__select .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}
.flat__item-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flat__item-check {
    margin-right: 50px;
    min-width: 54px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flat__item-check label {
    min-width: 24px;
    min-height: 24px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 34px;
}
.flat__item-check label::before,
.flat__item-check label::after {
    width: 24px;
    height: 24px;    
}
.flat__item-botprice {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 83%;
}
.flat__item-botitem {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flat__item-botitem .catalog__card-link {
    margin-right: 10px;
}
.prof__input {
    padding: 9px 10px 9px 16px;
    font-size: 16px;
    line-height: 22px;
    color: #020E20;
}
.flat__item-inputwrap {
    width: 50px;
}
.flat__item-inpprice {
    width: 80px;
    position: relative;
}
.flat__item-itog {
    font-weight: 700;
    line-height: 26px;
    font-size: 18px;
}
.flat__item-inpprice .prof__input {
    padding-right: 30px;
}
.flat__item-inpprice::after {
    content: 'р.';
    display: block;
    position: absolute;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    color: #5E6165;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto 0;
}
.flats__itog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    background: #F1F3F4;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.flats__itog-part {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flats__itog-btn {
    cursor: pointer;
    padding: 10px 20px 10px 50px;
    background: #fff;
    border: none;
    outline: none;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.flats__itog-btn:not(:last-child) {
    margin-right: 10px;
}
.flats__itog-btn:hover {
    opacity: 0.8;
}
.flats__itog-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
}
.flats__itog-btn:nth-child(1):before {
    width: 20px;
    height: 20px;
        -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background: rgb(7, 82, 228) url('../img/ok.png') center center no-repeat;
}
.flats__itog-btn:nth-child(2):before {
    width: 24px;
    height: 24px;
    background: url('../img/svg/delete.svg') center center no-repeat;
}
.flats__itog-sale {
    background: rgba(245, 62, 62, 0.15);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
            border-radius: 8px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #F53E3E;
}
.flats__itog-sale span {
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 8px;
}
.flats__itog-all {
    padding: 0 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.flats__itog-all span{
    display: inline-block;
    margin-left: 10px;
}
.flats__wrap {
    margin:30px 0 40px;
}
.flats__payment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.payment__wrap {
    padding: 0;
    margin: 0;
    border-bottom: none;
}
.payment__btn {
    width: 21%;
}
.flats__filter:hover {
    text-decoration: none;
    background: -webkit-gradient(linear, left bottom, left top, from(#0A71EB), to(#0A71EB)), -webkit-gradient(linear, left bottom, left top, from(#225FFB), to(#225FFB)), #0752E4;
    background: -webkit-linear-gradient(bottom, #0A71EB, #0A71EB), -webkit-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -moz-linear-gradient(bottom, #0A71EB, #0A71EB), -moz-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: -o-linear-gradient(bottom, #0A71EB, #0A71EB), -o-linear-gradient(bottom, #225FFB, #225FFB), #0752E4;
    background: linear-gradient(0deg, #0A71EB, #0A71EB), linear-gradient(0deg, #225FFB, #225FFB), #0752E4;
    color: #fff;
}
.flats__warning {
    margin-top: 20px;
    background: rgba(245, 62, 62, 0.05);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 20px 74px;
    position: relative;
}
.flats__warning p {
    line-height: 22px;
    color: #0A2E57;
    max-width: 745px;
}
.flats__warning::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../img/svg/warning.svg') no-repeat 0 0 / cover;
    top: 20px;
    left: 30px;
}
.login__popup-inputwrap {
    margin-bottom: 0;
}
.flat__item-checkactive {
    line-height: 22px;
    color: #23B554;
    margin-right: 37px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flat__item-checkactive span {
    margin-right: 20px;
}
.flat__item-checkactive button {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
@media screen and (max-width: 1280px) {
    .flats__sale ul li:nth-child(2n-1) {
        padding-right: 30px;
    }
    .flats__sale ul li:nth-child(2n-2) {
        padding-left: 30px;
    }
    .flats__item .catalog__card-img {
        max-width: 210px;
    }
    .flats__descr-c {
        max-width: 360px;
    }
    .flats__select-item:nth-child(1) .flats__select .select2-container {
        width: 180px !important
    }
    .flats__select-item:nth-child(2) .flats__select .select2-container {
        width: 130px !important
    }
    .flats__select-item:nth-child(1) {
        margin-right: 9px;
    }
    .payment__item:not(:last-child) {
        margin-right: 10px;
    }
    .payment__btn {
        width: 18%;
    }
}
@media screen and (max-width: 1080px) {
    .flats__sale ul li {
        font-size: 17px;
    }
    .flats__title-sm {
        font-size: 13px;
    }
    .flats__select-item:nth-child(1) .flats__select .select2-container {
        width: 140px !important;
    }
    .flats__descr-l {
        max-width: 230px;
    }
    .flats__item .catalog__card-img {
        max-width: 200px;
    } 
    .catalog__card-mid a {
        white-space: nowrap;
    }
    .payment__item label {
        padding: 20px 35px 28px;
    }   
    .flat__item-botprice {
        width: 100%;
    }
    .flat__item-botitem {
        white-space: nowrap;
    }
    .flat__item-check {
        margin-right: 20px;
    }
}
/* 769-993px */
@media screen and (max-width: 993px) {
    div.header__city {
        display: none !important;
    }
    .flats__nav li:not(:last-child) {
        margin-right: 20px;
    }
    .flats__add {
        display: none;
    }
    .flats__item-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .flats__descr {
        width: 100%;
        padding: 0 20px 30px;
        border-bottom: 1px solid #D8DEE0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .flats__descr-l,
    .flats__descr-c,
    .flats__descr-r {
        max-width: unset;
    }
    .flats__descr-l {
        margin-bottom: 10px;
    }
    .flats__descr-c {
        margin-bottom: 20px;
    }
    .flats__select-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .flats__select-item:nth-child(n+1) .flats__select .select2-container {
        width: 250px !important;
    }
    .flats__item .catalog__card-img {
        max-width: unset;
        margin-bottom: 10px;
    }
    .flats__descr-r {
        padding-bottom: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
           -moz-box-orient: horizontal;
           -moz-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .flats__item {
        padding: 0;
        max-width: 400px;
        margin: 0 auto 10px;
    }
    .slick-slide img {
        width: 100%;
        height: 100%;
        display: block;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .flats__item .catalog__card-img {
        -webkit-border-radius: 12px 12px 0 0;
           -moz-border-radius: 12px 12px 0 0;
                border-radius: 12px 12px 0 0;
    }
    .flat__item-bottom {
        padding: 30px 20px 0;
    }
    .flat__item-botitem {
        margin-right: 0;
        width: auto;
        margin-bottom: 20px;
    }
    .flat__item-check{
        margin-right: 0;
        width: 40%;
        margin-bottom: 20px;
    }
    .flat__item-botprice {
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .catalog__card-link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    .flats__payment {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .payment__btn {
        display: block;
        width: 100%;
        margin-top: 20px;
        max-width: 346px;
    }
    .payment__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .payment__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .payment__item label {
        padding: 20px 72px 28px;
    }
    .flat__item-active .flat__item-check {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .flats__payment {
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .flats__filter {
        white-space: nowrap;
    }
    .flats__filters {
        overflow-x: scroll;
        margin-right: -15px;
    }
    .flats__filters::-webkit-scrollbar {
        height: 0;
      }
      .flats__sale ul li {
        font-size: 14px;
        line-height: 20px;
      }
      .flats__itog,
      .flats__itog-part:nth-child(2) {
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
             -moz-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
             -moz-box-orient: vertical;
             -moz-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
      }
      .flats__itog-part:nth-child(1) {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 20px;
      }
      .flats__itog-sale {
          margin-bottom: 20px;
      }
}
/* 351-576px */
@media screen and (max-width: 576px) {
    .flats .title-m {
        font-size: 20px;
        line-height: 28px;
    }
    .flats__sale {
        padding: 20px;
    }
    .flats__sale ul li {
        width: 100%;
        padding: 0 !important;
    }
    .flats__sale ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    .flats__sale ul li:nth-child(2) {
        margin-bottom: 42px;
    }
    .flats__sale::after {
        height: 2px;
        width: unset;
        top: 0;
        right: 20px;
        bottom: 0;
        left: 20px;
        margin: auto 0;
    }
    .flats__sale-txt {
        padding-left: 0;
        font-size: 14px;
        line-height: 20px;
    }
    .payment__item label {
        padding: 20px 67px 28px;
    }
    .flats__warning p {
        font-size: 14px;
        line-height: 20px;
    }
    .flats__warning {
        padding: 20px 30px 20px 74px;
    }
}
@media screen and (max-width: 374px) {
    .flat__item-botitem:last-child {
        width: 100%;
    }
    .flats__itog-part:nth-child(1) {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .flats__itog-btn {
        width: 100%;
        text-align: center;
    }
    .flats__itog-btn:nth-child(1) {
        margin-bottom: 20px;
    }
    .flats__itog {
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .payment__item label {
        padding: 20px 42px 28px;
    }
}